<div class="mt-4">
    <h3>Khóa học của tôi</h3>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">thời gian tạo</th>
                <th scope="col">button</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>@{{this.createdAt}}</td>
                    <td>
                        <a type="button" href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                        <a type="button" href="" class="btn btn-link">Delete</a>
                    </td>
                </tr>
            {{/each}} 
        </tbody>
    </table>
</div>